<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.guli.service.edu.mapper.CourseMapper">

    <select id="selectCourseItemVoPage"
            resultType="AdminCourseItemVo">
        select t1.id,
               t1.cover,
               t1.title,
               t1.lesson_num,
               t1.buy_count,
               t1.view_count,
               t1.price,
               t1.status,
               t1.gmt_create,
               t3.title subjectParentTitle,
               t2.title subjectTitle,
               t4.name  teacherName
        from guli_edu.edu_course t1
                 left join guli_edu.edu_subject t2
                           on t1.subject_id = t2.id
                 left join guli_edu.edu_subject t3
                           on t2.parent_id = t3.id
                 left join guli_edu.edu_teacher t4
                           on t1.teacher_id = t4.id
    </select>

    <select id="selectCourseItemVo" resultType="AdminCourseItemVo">
        select t1.id,
               t1.cover,
               t1.title,
               t1.lesson_num,
               t1.buy_count,
               t1.view_count,
               t1.price,
               t1.status,
               t1.gmt_create,
               t3.title subjectParentTitle,
               t2.title subjectTitle,
               t4.name  teacherName
        from guli_edu.edu_course t1
                 left join guli_edu.edu_subject t2
                           on t1.subject_id = t2.id
                 left join guli_edu.edu_subject t3
                           on t2.parent_id = t3.id
                 left join guli_edu.edu_teacher t4
                           on t1.teacher_id = t4.id
            ${ew.customSqlSegment}
    </select>

    <resultMap id="selectCourseDetailVoByIdResultMap" autoMapping="true" type="ApiCourseDetailVo">
        <id column="id" property="id"/>
        <collection property="chapters" ofType="Chapter">
            <id column="c_id" property="id"/>
            <result column="c_title" property="title"/>
            <result column="c_sort" property="sort"/>
            <result column="c_course_id" property="courseId"/>
            <collection property="videos" ofType="Video">
                <id column="v_id" property="id"/>
                <result column="v_title" property="title"/>
                <result column="v_free" property="free"/>
                <result column="video_source_id" property="videoSourceId"/>
                <result column="video_original_name" property="videoOriginalName"/>
                <result column="v_sort" property="sort"/>
            </collection>
        </collection>
    </resultMap>
    <select id="getCourseDetailVo"
            resultMap="selectCourseDetailVoByIdResultMap">
        SELECT t1.id , t1.`title` , t1.`cover` , t1.`buy_count`,t1.`price`,
               t7.`description`,
               t1.`view_count` , t1.`lesson_num` , t1.`subject_parent_id`,
               t1.`subject_id` , t1.`teacher_id`,
               t2.`name` teacher_name , t2.`avatar` teacher_avatar, t2.`level` teacher_level,
               t3.`title` subject_parent_title ,
               t4.`title` subject_title ,
               t5.`id` c_id , t5.`title` c_title , t5.`sort` c_sort, t5.`course_id` c_course_id,
               t6.`id` v_id,t6.`title` v_title ,t6.`is_free` v_free ,
               t6.`video_source_id` , t6.`video_original_name` ,
               t6.`sort` v_sort
        FROM guli_edu.edu_course t1
                 LEFT JOIN guli_edu.edu_course_description t7
                           ON t1.id = t7.`id`
                 LEFT JOIN guli_edu.edu_teacher t2
                           ON t1.`teacher_id` = t2.`id`
                 LEFT JOIN guli_edu.edu_subject t3
                           ON t1.`subject_parent_id` = t3.`id`
                 LEFT JOIN guli_edu.edu_subject t4
                           ON t1.`subject_id` = t4.`id`
                 LEFT JOIN guli_edu.edu_chapter t5
                           ON t5.`course_id` = t1.`id`
                 LEFT JOIN guli_edu.edu_video t6
                           ON t6.`chapter_id` = t5.`id`
        WHERE t1.id = #{id}
        ORDER BY t5.`sort`,t6.`sort`;
    </select></mapper>
